<div class="dash-theme display animate__animated animate__fadeIn animate__delay-500ms"  id="dashTheme" >
        <div class="content-theme">
            <h3>Lorem Ipsum</h3>
            <span>"Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit..."
"There is no one who loves pain itself, who seeks after it and wants to have it, simply because it is pain..."</span>

            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce bibendum aliquet efficitur. Curabitur condimentum vehicula nibh, ac cursus neque aliquet at. Suspendisse in urna faucibus, cursus sapien eget, luctus risus. Fusce eget pharetra mauris. Quisque metus leo, varius at vestibulum et, semper sit amet tortor. Cras auctor ante lectus, vitae pulvinar leo posuere ut. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Maecenas commodo suscipit lorem. Fusce commodo sit amet felis id scelerisque. Nullam varius tristique tortor eget condimentum. Nam tempor tempus metus sed pharetra. Donec sed ligula eu massa feugiat mattis. Quisque porttitor mollis condimentum. Pellentesque consectetur metus mauris, et tristique erat dignissim non. Nullam lobortis odio id nisl semper fringilla non imperdiet tortor.
            </p>

        </div>
</div>