 <section class="Home">
     <main class="content">
         <header class="header">
         </header>
         <div class="logo-home animate__animated animate__delay-1s animate__bounceIn">
             <img src="/img/logo_azul.png" alt="" class="img-home">
         </div>

         <div class="title-home animate__animated animate__flipInX animate__delay-2s">
             <h3>Escolha sua forma de login:</h3>
         </div>

         <div class="choice-home">

             <a href="/student" class='link-home animate__animated animate__backInLeft animate__delay-3s'> 
             <img src="/img/icon_aluno.png" alt="icon-professor" class="icon-home">
                 <span>Aluno</span>
             </a>

             <a href="/teacher" class='link-home animate__animated animate__backInRight animate__delay-3s'> 
              <img src="/img/icon_professor.png" alt="icon-professor" class="icon-home">
             <span>Docente</span>
             </a>
         </div>

     </main>
 </section>