 <div class="Home">
     <div class="content">
         <header class="header">
         </header>
         <div class="logo-home animate__animated animate__delay-1s animate__bounceIn">
             <h1>Educando!!!</h1>

         </div>

         <div class="title-home animate__animated animate__flipInX animate__delay-2s">
             <h3>Escolha o modo de entrada:</h3>
         </div>

         <div class="choice-home">

             <a href="/student" class='link-home animate__animated animate__backInLeft animate__delay-3s'> <svg
                     version="1.0" xmlns="http://www.w3.org/2000/svg" width="60.000000pt" height="60.000000pt"
                     viewBox="0 0 60.000000 60.000000" preserveAspectRatio="xMidYMid meet">
                     <g transform="translate(0.000000,60.000000) scale(0.100000,-0.100000)" fill="#000000"
                         stroke="none">
                         <path
                             d="M0 580 c0 -5 16 -10 36 -10 34 0 35 -1 29 -30 -4 -17 -8 -63 -9 -102 -3 -61 1 -78 26 -129 16 -33 34 -59 39 -59 12 0 11 11 -6 40 -8 14 -14 48 -15 76 l0 50 110 0 110 0 0 -62 c0 -56 -3 -65 -31 -93 -26 -26 -38 -31 -79 -31 -41 0 -50 -3 -55 -21 -4 -12 -26 -29 -53 -41 -72 -31 -82 -44 -82 -102 l0 -51 190 0 c175 0 191 1 196 18 7 22 -4 36 -15 19 -6 -9 -13 -9 -34 1 -31 14 -31 15 -11 42 12 16 18 18 34 7 24 -15 50 -16 50 -2 0 6 -6 10 -14 10 -25 0 -66 59 -66 95 0 40 38 90 76 99 36 9 89 -10 108 -39 24 -37 21 -97 -7 -126 -13 -13 -31 -29 -41 -34 -18 -10 -18 -13 3 -53 22 -43 44 -54 55 -27 3 8 15 15 26 15 28 0 36 27 15 50 -23 26 -39 26 -25 1 13 -26 13 -31 -5 -31 -7 0 -18 -8 -23 -17 -8 -14 -12 -12 -26 15 -15 29 -15 31 5 37 30 10 59 64 59 112 0 33 -7 50 -30 77 -36 40 -76 52 -123 36 -57 -18 -82 -53 -82 -116 0 -30 -4 -54 -9 -54 -4 0 -30 -11 -57 -25 -47 -23 -49 -23 -49 -5 0 26 49 52 73 39 24 -14 21 0 -5 29 l-23 24 20 16 c31 26 55 64 55 88 0 12 7 27 16 35 13 11 15 31 12 116 -2 78 0 103 10 103 7 0 12 -14 12 -35 0 -19 5 -35 10 -35 6 0 10 13 10 29 0 16 3 36 6 45 5 14 -17 16 -205 16 -134 0 -211 -4 -211 -10z m256 -382 c10 -16 -27 -40 -53 -33 -23 5 -32 -8 -13 -20 6 -3 10 -15 10 -26 0 -19 -2 -18 -34 6 -34 26 -34 27 -15 46 10 10 19 24 19 29 0 14 77 13 86 -2z" />
                         <path d="M175 367 c-4 -10 -5 -21 -1 -24 10 -10 18 4 13 24 -4 17 -4 17 -12 0z" />
                         <path d="M234 369 c-3 -6 -1 -16 5 -22 8 -8 11 -5 11 11 0 24 -5 28 -16 11z" />
                         <path
                             d="M406 259 c-36 -28 -36 -80 0 -108 34 -26 54 -26 88 0 39 30 33 109 -8 109 -6 0 -5 -5 2 -12 29 -29 3 -98 -37 -98 -23 0 -51 31 -51 57 0 21 29 53 48 53 7 0 12 5 12 10 0 16 -26 11 -54 -11z" />
                     </g>
                 </svg>
                 <span>Aluno</span>
             </a>

             <a href="/teacher" class='link-home animate__animated animate__backInRight animate__delay-3s'> <svg
                     version="1.0" xmlns="http://www.w3.org/2000/svg" width="64.000000pt" height="64.000000pt"
                     viewBox="0 0 64.000000 64.000000" preserveAspectRatio="xMidYMid meet">

                     <g transform="translate(0.000000,64.000000) scale(0.100000,-0.100000)" fill="#000000"
                         stroke="none">
                         <path d="M277 633 c-4 -6 -20 -13 -36 -16 -45 -9 -61 -32 -61 -88 0 -27 -4 -49 -10 -49 -5 0 -10 -16 -10 -36 0 -27 5 -37 19 -41 11 -3 22 -17 26 -31 3 -15 20 -42 38 -59 17 -18 28 -36 24 -39 -4 -4 -44 -13 -89 -21 -46 -8 -84 -15 -85 -17 -7 -7 -33 -126 -39 -176 l-7 -60 273 0 273 0 -7 56 c-4 32 -14 85 -22 120 l-16 63 -72 11 c-122 20 -123 20 -76 65 16 15 32 40 35 55 4 16 15 30 26 33 14 4 19 14 19 41 0 20 -4 36 -10 36 -5 0 -10 11 -10 25 0 40 -25 89 -54 108 -31 21 -120 34 -129 20z m76 -23 c24 0 77 -53 77 -77 0 -18 -5 -19 -66 -11 -37 4 -75 14 -84 23 -21 19 -30 19 -30 0 0 -9 -8 -19 -17 -22 -10 -4 -21 -11 -25 -17 -12 -17 -9 43 2 65 7 12 21 19 41 19 18 0 32 6 36 16 4 10 13 14 27 10 11 -3 29 -6 39 -6z m-14 -136 c12 -4 12 -7 -2 -21 -15 -15 -18 -15 -35 0 -23 21 -41 21 -64 0 -12 -11 -18 -12 -18 -4 0 7 10 21 22 31 18 14 28 16 53 8 16 -5 36 -12 44 -14z m81 -20 c0 -14 -3 -14 -15 -4 -8 7 -15 14 -15 16 0 2 7 4 15 4 8 0 15 -7 15 -16z m-220 -15 c0 -11 -4 -17 -10 -14 -5 3 -10 13 -10 21 0 8 5 14 10 14 6 0 10 -9 10 -21z m260 7 c0 -8 -4 -18 -10 -21 -5 -3 -10 3 -10 14 0 12 5 21 10 21 6 0 10 -6 10 -14z m-174 -7 c10 -17 -13 -36 -27 -22 -12 12 -4 33 11 33 5 0 12 -5 16 -11z m100 0 c10 -17 -13 -36 -27 -22 -12 12 -4 33 11 33 5 0 12 -5 16 -11z m-116 -49 c7 0 22 7 32 17 17 15 19 15 36 0 23 -21 41 -21 64 0 17 15 18 15 18 -11 0 -40 -58 -96 -100 -96 -42 0 -100 56 -100 96 0 26 1 26 18 11 10 -10 25 -17 32 -17z m80 -119 c0 -5 -7 -14 -15 -21 -12 -10 -18 -10 -30 0 -23 19 -18 30 15 30 17 0 30 -4 30 -9z m-60 -36 c7 -9 10 -18 7 -22 -8 -7 -37 15 -37 28 0 14 16 11 30 -6z m90 6 c0 -13 -29 -35 -37 -28 -7 8 15 37 28 37 5 0 9 -4 9 -9z m-142 -13 c20 -20 14 -26 -39 -43 -55 -19 -54 -19 -63 12 -6 18 -3 23 16 27 19 4 43 9 69 15 3 0 10 -4 17 -11z m248 -3 c21 -5 24 -10 18 -28 -3 -12 -8 -24 -10 -26 -5 -5 -104 30 -104 38 0 16 25 30 47 26 13 -3 35 -7 49 -10z m-358 -132 l5 -73 -27 0 c-31 0 -33 16 -14 117 15 80 29 63 36 -44z m432 -40 c0 -29 -3 -33 -25 -33 -23 0 -25 3 -25 53 0 28 5 70 12 92 l11 40 13 -60 c7 -33 13 -75 14 -92z m-250 50 l0 -83 -80 0 -80 0 0 63 0 63 62 20 c100 32 98 33 98 -63z m123 61 l57 -18 0 -63 0 -63 -80 0 -80 0 0 84 c0 96 -3 94 103 60z" />
                         <path d="M270 366 c0 -20 28 -46 50 -46 22 0 50 26 50 46 0 10 -13 14 -50 14 -37 0 -50 -4 -50 -14z m63 -13 c-7 -2 -19 -2 -25 0 -7 3 -2 5 12 5 14 0 19 -2 13 -5z" />
                         <path d="M170 100 c0 -5 5 -10 10 -10 6 0 10 5 10 10 0 6 -4 10 -10 10 -5 0 -10 -4 -10 -10z" />
                         <path d="M210 100 c0 -5 14 -10 30 -10 17 0 30 5 30 10 0 6 -13 10 -30 10 -16 0 -30 -4 -30 -10z" />
                         <path d="M370 100 c0 -5 5 -10 10 -10 6 0 10 5 10 10 0 6 -4 10 -10 10 -5 0 -10 -4 -10 -10z" />
                         <path d="M410 100 c0 -5 14 -10 30 -10 17 0 30 5 30 10 0 6 -13 10 -30 10 -16 0 -30 -4 -30 -10z" />
                     </g>
                 </svg><span>Docente</span>
             </a>
         </div>

     </div>
 </div>