 <div class='login-container '>
     <div class='login-content'>
         <header class='login-header display animate__animated '>
             Educando!!!
         </header>
         <div class="login-title display animate__animated animate__bounceIn">

             <h3>Olá estudante!</h3>
             <span>Sua aula já vai começar.</span>
             <span>insira o seu nome. </span>
         </div>
         <div class="login-icon display animate__animated animate__bounceIn">
             <svg version="1.0" xmlns="http://www.w3.org/2000/svg" width="60.000000pt" height="60.000000pt"
                 viewBox="0 0 60.000000 60.000000" preserveAspectRatio="xMidYMid meet">
                 <g transform="translate(0.000000,60.000000) scale(0.100000,-0.100000)" fill="#000000" stroke="none">
                     <path
                         d="M0 580 c0 -5 16 -10 36 -10 34 0 35 -1 29 -30 -4 -17 -8 -63 -9 -102 -3 -61 1 -78 26 -129 16 -33 34 -59 39 -59 12 0 11 11 -6 40 -8 14 -14 48 -15 76 l0 50 110 0 110 0 0 -62 c0 -56 -3 -65 -31 -93 -26 -26 -38 -31 -79 -31 -41 0 -50 -3 -55 -21 -4 -12 -26 -29 -53 -41 -72 -31 -82 -44 -82 -102 l0 -51 190 0 c175 0 191 1 196 18 7 22 -4 36 -15 19 -6 -9 -13 -9 -34 1 -31 14 -31 15 -11 42 12 16 18 18 34 7 24 -15 50 -16 50 -2 0 6 -6 10 -14 10 -25 0 -66 59 -66 95 0 40 38 90 76 99 36 9 89 -10 108 -39 24 -37 21 -97 -7 -126 -13 -13 -31 -29 -41 -34 -18 -10 -18 -13 3 -53 22 -43 44 -54 55 -27 3 8 15 15 26 15 28 0 36 27 15 50 -23 26 -39 26 -25 1 13 -26 13 -31 -5 -31 -7 0 -18 -8 -23 -17 -8 -14 -12 -12 -26 15 -15 29 -15 31 5 37 30 10 59 64 59 112 0 33 -7 50 -30 77 -36 40 -76 52 -123 36 -57 -18 -82 -53 -82 -116 0 -30 -4 -54 -9 -54 -4 0 -30 -11 -57 -25 -47 -23 -49 -23 -49 -5 0 26 49 52 73 39 24 -14 21 0 -5 29 l-23 24 20 16 c31 26 55 64 55 88 0 12 7 27 16 35 13 11 15 31 12 116 -2 78 0 103 10 103 7 0 12 -14 12 -35 0 -19 5 -35 10 -35 6 0 10 13 10 29 0 16 3 36 6 45 5 14 -17 16 -205 16 -134 0 -211 -4 -211 -10z m256 -382 c10 -16 -27 -40 -53 -33 -23 5 -32 -8 -13 -20 6 -3 10 -15 10 -26 0 -19 -2 -18 -34 6 -34 26 -34 27 -15 46 10 10 19 24 19 29 0 14 77 13 86 -2z" />
                     <path d="M175 367 c-4 -10 -5 -21 -1 -24 10 -10 18 4 13 24 -4 17 -4 17 -12 0z" />
                     <path d="M234 369 c-3 -6 -1 -16 5 -22 8 -8 11 -5 11 11 0 24 -5 28 -16 11z" />
                     <path
                         d="M406 259 c-36 -28 -36 -80 0 -108 34 -26 54 -26 88 0 39 30 33 109 -8 109 -6 0 -5 -5 2 -12 29 -29 3 -98 -37 -98 -23 0 -51 31 -51 57 0 21 29 53 48 53 7 0 12 5 12 10 0 16 -26 11 -54 -11z" />
                 </g>
             </svg>

         </div>
         <div class="login-information display animate__animated ">
             <form action="/login-student" method="POST" class="login-form display" >
                {{#if errorsLogin}}
             <div class="errors">{{errorsLogin.email}}</div>
             {{/if}}

             {{#if errors}}
             <div class="errors">{{errors.email}}</div>
             {{/if}}

                 <div class="login-form-name">
                     <input type="text" name="email" id="email" class="login-input" placeholder="Email..."/>
                 </div>

                 {{#if errors}}
             <div class="errors">{{errors.password}}</div>
             {{/if}}

             {{#if errorsLogin}}
             <div class="errors">{{errorsLogin.invalid}}</div>
             {{/if}}
                 <div class="login-form-name">
                     <input type="password" name="password" id="password" class="login-input" placeholder="Password"/>
                 </div>
                 <div class="login-form-btn animate__animated ">
                     <button type="submit" class='login-btn'><span>Entrar</span></button>
                 </div>
             </form>
         </div>
     </div>
 </div>