 <div class='login-container '>
     <div class='login-content'>
         <header class='login-header display animate__animated '>
             <img src="/img/logo_azul.png" alt="" class="img-home">
         </header>
         <div class="login-title display animate__animated animate__bounceIn">

             <h3>Olá estudante!</h3>
             <span>Sua aula já vai começar!</span>
             <span>faça o login  </span>
         </div>
         <div class="login-icon display animate__animated animate__bounceIn">
             <img src="/img/icon_alunos.png" alt="icon-professor" class="icon-login">

         </div>
         <div class="login-information display animate__animated ">
             <form action="/login-student" method="POST" class="login-form display" >
                {{#if errorsLogin}}
             <div class="errors">{{errorsLogin.email}}</div>
             {{/if}}

             {{#if errors}}
             <div class="errors">{{errors.email}}</div>
             {{/if}}

                 <div class="login-form-name">
                     <input type="text" name="email" id="email" class="login-input" placeholder="Email..."/>
                 </div>

                 {{#if errors}}
             <div class="errors">{{errors.password}}</div>
             {{/if}}

             {{#if errorsLogin}}
             <div class="errors">{{errorsLogin.invalid}}</div>
             {{/if}}
                 <div class="login-form-name">
                     <input type="password" name="password" id="password" class="login-input" placeholder="Password"/>
                 </div>
                 <div class="login-form-btn animate__animated ">
                     <button type="submit" class='login-btn'><span>Entrar</span></button>
                 </div>
             </form>
         </div>
     </div>
 </div>