 <div class='login-container '>
     <div class="login-content ">
         <header class="login-header display ">
             Educando!!!
         </header>
         <div class="login-title display animate__animated animate__bounceIn">

             <h3>Olá professor!</h3>
             <span>Faça seu login. </span>
         </div>
         <div class="login-icon display animate__animated animate__bounceIn">
             <svg version="1.0" xmlns="http://www.w3.org/2000/svg" width="64.000000pt" height="64.000000pt"
                 viewBox="0 0 64.000000 64.000000" preserveAspectRatio="xMidYMid meet">
                 <g transform="translate(0.000000,64.000000) scale(0.100000,-0.100000)" fill="#000000" stroke="none">
                     <path
                         d="M277 633 c-4 -6 -20 -13 -36 -16 -45 -9 -61 -32 -61 -88 0 -27 -4 -49 -10 -49 -5 0 -10 -16 -10 -36 0 -27 5 -37 19 -41 11 -3 22 -17 26 -31 3 -15 20 -42 38 -59 17 -18 28 -36 24 -39 -4 -4 -44 -13 -89 -21 -46 -8 -84 -15 -85 -17 -7 -7 -33 -126 -39 -176 l-7 -60 273 0 273 0 -7 56 c-4 32 -14 85 -22 120 l-16 63 -72 11 c-122 20 -123 20 -76 65 16 15 32 40 35 55 4 16 15 30 26 33 14 4 19 14 19 41 0 20 -4 36 -10 36 -5 0 -10 11 -10 25 0 40 -25 89 -54 108 -31 21 -120 34 -129 20z m76 -23 c24 0 77 -53 77 -77 0 -18 -5 -19 -66 -11 -37 4 -75 14 -84 23 -21 19 -30 19 -30 0 0 -9 -8 -19 -17 -22 -10 -4 -21 -11 -25 -17 -12 -17 -9 43 2 65 7 12 21 19 41 19 18 0 32 6 36 16 4 10 13 14 27 10 11 -3 29 -6 39 -6z m-14 -136 c12 -4 12 -7 -2 -21 -15 -15 -18 -15 -35 0 -23 21 -41 21 -64 0 -12 -11 -18 -12 -18 -4 0 7 10 21 22 31 18 14 28 16 53 8 16 -5 36 -12 44 -14z m81 -20 c0 -14 -3 -14 -15 -4 -8 7 -15 14 -15 16 0 2 7 4 15 4 8 0 15 -7 15 -16z m-220 -15 c0 -11 -4 -17 -10 -14 -5 3 -10 13 -10 21 0 8 5 14 10 14 6 0 10 -9 10 -21z m260 7 c0 -8 -4 -18 -10 -21 -5 -3 -10 3 -10 14 0 12 5 21 10 21 6 0 10 -6 10 -14z m-174 -7 c10 -17 -13 -36 -27 -22 -12 12 -4 33 11 33 5 0 12 -5 16 -11z m100 0 c10 -17 -13 -36 -27 -22 -12 12 -4 33 11 33 5 0 12 -5 16 -11z m-116 -49 c7 0 22 7 32 17 17 15 19 15 36 0 23 -21 41 -21 64 0 17 15 18 15 18 -11 0 -40 -58 -96 -100 -96 -42 0 -100 56 -100 96 0 26 1 26 18 11 10 -10 25 -17 32 -17z m80 -119 c0 -5 -7 -14 -15 -21 -12 -10 -18 -10 -30 0 -23 19 -18 30 15 30 17 0 30 -4 30 -9z m-60 -36 c7 -9 10 -18 7 -22 -8 -7 -37 15 -37 28 0 14 16 11 30 -6z m90 6 c0 -13 -29 -35 -37 -28 -7 8 15 37 28 37 5 0 9 -4 9 -9z m-142 -13 c20 -20 14 -26 -39 -43 -55 -19 -54 -19 -63 12 -6 18 -3 23 16 27 19 4 43 9 69 15 3 0 10 -4 17 -11z m248 -3 c21 -5 24 -10 18 -28 -3 -12 -8 -24 -10 -26 -5 -5 -104 30 -104 38 0 16 25 30 47 26 13 -3 35 -7 49 -10z m-358 -132 l5 -73 -27 0 c-31 0 -33 16 -14 117 15 80 29 63 36 -44z m432 -40 c0 -29 -3 -33 -25 -33 -23 0 -25 3 -25 53 0 28 5 70 12 92 l11 40 13 -60 c7 -33 13 -75 14 -92z m-250 50 l0 -83 -80 0 -80 0 0 63 0 63 62 20 c100 32 98 33 98 -63z m123 61 l57 -18 0 -63 0 -63 -80 0 -80 0 0 84 c0 96 -3 94 103 60z" />
                     <path
                         d="M270 366 c0 -20 28 -46 50 -46 22 0 50 26 50 46 0 10 -13 14 -50 14 -37 0 -50 -4 -50 -14z m63 -13 c-7 -2 -19 -2 -25 0 -7 3 -2 5 12 5 14 0 19 -2 13 -5z" />
                     <path d="M170 100 c0 -5 5 -10 10 -10 6 0 10 5 10 10 0 6 -4 10 -10 10 -5 0 -10 -4 -10 -10z" />
                     <path d="M210 100 c0 -5 14 -10 30 -10 17 0 30 5 30 10 0 6 -13 10 -30 10 -16 0 -30 -4 -30 -10z" />
                     <path d="M370 100 c0 -5 5 -10 10 -10 6 0 10 5 10 10 0 6 -4 10 -10 10 -5 0 -10 -4 -10 -10z" />
                     <path d="M410 100 c0 -5 14 -10 30 -10 17 0 30 5 30 10 0 6 -13 10 -30 10 -16 0 -30 -4 -30 -10z" />
                 </g>
             </svg>
         </div>
         <div class="login-information display animate__animated ">
             <form action="/login" method="POST" class="login-form display" >
                 <div class="login-form-name">
                     <input type="text" name="name" id="name" class="login-input" placeholder="Email..."/>
                 </div>
                 <div class="login-form-name">
                     <input type="text" name="password" id="password" class="login-input" placeholder="Password"/>
                 </div>
                 <div class="login-form-btn animate__animated ">
                     <button type="submit" class='login-btn'><span>Entrar</span></button>
                 </div>
             </form>
         </div>
     </div>
 </div>