@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
*       {
    scroll-behavior: smooth;
    
}

    ::-webkit-scrollbar{
    width: 13px;
    height: 13px;
    }
    ::-webkit-scrollbar-thumb{
    background: #B3AFB3;
    border-radius: 0px;
    }
    ::-webkit-scrollbar-thumb:hover{
    background: #B3AFB3;
    }
    ::-webkit-scrollbar-track{
    background: #F0F0F0;
    border-radius: 0px;
    box-shadow: inset 0px 0px 0px 0px #F0F0F0;
    }

.display {
    display: flex;
    align-items: center;
    justify-content: center;
}

.dash-teacher-container {
    height: 90vh;
    width: 70%;
    background-color: #FFFFFF;
    -webkit-box-shadow: 0px 9px 11px 1px rgba(161, 161, 161, 1);
    -moz-box-shadow: 0px 9px 11px 1px rgba(161, 161, 161, 1);
    box-shadow: 0px 9px 11px 1px rgb(138, 138, 138);
}

.dash-teacher-content {
    width: 100%;
    height: 100%;
    
}

.dash-teacher-header {
    height: 20%;
    
}

.img-dash {
    
    height:100%;
}


.dash-teacher-name {
    height: 5%;
    justify-content:flex-start !important;
    font-size: 18px;
    font-family: 'Roboto Condensed', sans-serif;
}

.teacher-name {
    margin-left: 3%;
}

.dash-teacher-label {
    height: 5%;
    justify-content:flex-start !important;
}

.teacher-label {
    font-size: 1em;
    margin-left: 3%;
    font-family: 'Roboto Condensed', sans-serif;
    
}

.dash-teacher-main {
    display: flex;
    width:100%;
    height:67%;
    background-color: #ffffffd2;
    

}

.content-student {
    width: 30%;
    height:100%;
    overflow-y: hidden;
}
.main-list {
    width:100%;
    height:100%;
    padding:0px !important;
    background-color: #ececec;
    border: 1px solid #d8d8d865;
    font-family: 'Roboto', sans-serif;
    font-size: 0.8em
    
}

.item-list {
    height: 10%;
    padding:0px !important;
    list-style: none;
    display: flex;
    align-items:center;
    border-bottom: 1px solid #afafaf65;
}

.icon-list      {
    margin-left: 15%;
}

.item-name  {
    margin-left: 10px;
}

.dash-teacher-real-time {
    height: 100%;
    width: 100%;
    margin-left: 5%;
    flex-direction: column;
    overflow-y: auto;
    font-family: 'Roboto', sans-serif;
    

}
hr  {
    color: #afafaf
}

.quiz-main-label  {
    margin-left: 3%;
}

.message {
    width: 100%;
    flex-direction: column;
    
}

.quiz-messages {
    flex-direction: column;
    width: 80%;
    
   
    
}

.quiz-anwser {
    margin-top: 1%;
    margin-bottom: 5%;
    display: flex;
    padding:2%;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    background-color: #e4e4e4;
    border: 1px solid #7979797e;
    border-radius: 10px;
    -webkit-box-shadow: 0px 4px 5px 1px rgba(122, 121, 122, 1);
    -moz-box-shadow: 0px 4px 5px 1px rgba(122, 121, 122, 1);
    box-shadow: 0px 4px 5px 1px rgba(122, 121, 122, 1);
} 

.quiz-name  {
    font-size: 15px;
}

.quiz-body {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items:flex-start;
    border:none;
    border-radius:10px;
    width:97%;
    background-color: #FFF;
    padding:2%;
    font-size: 13px;
}


@media (max-width:1024px) {

    .dash-teacher-container {

        height: 100vh;
        width: 100%;
        background-color: #FFF;

    }

    .img-dash {
        width:95%;
    }

    .quiz-messages{
        width:100%;
        margin:none;
    }

    .message{
        width:80%;
        margin-left: 10%;
        
    }
    
    .content-student {
       display:none;
    }

    .dash-teacher-real-time {
        margin: 0px;
    }
}