*       {
    scroll-behavior: smooth;
}

.display {
    display: flex;
    align-items: center;
    justify-content: center;
}

.dash-teacher-container {
    height: 100vh;
    width: 90%;
    -webkit-box-shadow: 0px 9px 11px 1px rgba(161, 161, 161, 1);
    -moz-box-shadow: 0px 9px 11px 1px rgba(161, 161, 161, 1);
    box-shadow: 0px 9px 11px 1px rgb(138, 138, 138);
}

.dash-teacher-content {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.dash-teacher-header {
    height: 10%;
    background-color: #2fcc08;
}


.dash-teacher-name {
    height: 8%;
    background-color: #2445a0;
}

.dash-teacher-label {
    height: 5%;
    background-color: #a02424;
}

.teacher-label {
    font-size: 1.5em;
}

.dash-teacher-real-time {
    height: 70%;
    flex-direction: column;
    overflow-y: auto;
    

}

.message {
    width: 70%;

    flex-direction: column;


}

.quiz-anwser {
    margin-top: 1%;
    margin-bottom: 1%;
    display: flex;
    padding:2%;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    background-color: #dfdfdfa8;
    border: 1px solid #c0c0c065;
    border-radius: 10px;
    -webkit-box-shadow: 0px 4px 5px 1px rgba(122, 121, 122, 1);
    -moz-box-shadow: 0px 4px 5px 1px rgba(122, 121, 122, 1);
    box-shadow: 0px 4px 5px 1px rgba(122, 121, 122, 1);
} 

.quiz-body {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items:flex-start;
    border:none;
    border-radius:10px;
    width:97%;
    background-color: #FFF;
    padding:2%;
}

.quiz-messages {
    flex-direction: column;
}






.dash-teacher-input {
    width: 100%;
    padding-top: 2.5%;
    margin-bottom: 2%;
    border-top: none;
    border-right: none;
    border-left: none;
    border-bottom: 0.1em solid #c0c0c0a8;
    background-color: #FFFFFF !important;
    outline: none;

}

.dash-teacher-form-btn {
    margin-top: 3%;
}

.dash-teacher-btn {
    padding: 10px 40px;
    color: #FFFFFF;
    border: none;
    background-color: #2fcc08;
    border-radius: 5px;

}





@media (max-width:1024px) {
    .dash-teacher-container {

        height: 100vh;
        width: 100%;
        background-color: #FFF;

    }

    .dash-teacher-form-name {
        width: 80%;
    }

    .message{
        width:90%
    }
}